[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pyjwt = "*"
pytest = "*"
pytest-cov = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
httpx = "*"

[requires]
python_version = "3.12"
