fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
bcrypt==3.2.2
PyJWT
pytest
pytest-cov
httpx
botocore
boto3
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-requests
